{% for c in compute_list %}
{% if containers[c.type].gpu_enabled | default(false) %}
NodeName={{ c.name }} Name=gpu File=/dev/nvidia[{{ gpu_allocations[c.name] }}] Type={{ containers[c.type].gpu_info.type }} Count={{ containers[c.type].gpu_info.num }}
{% endif %}
{% endfor %}